@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.container{
    position: relative;
    width: 40%;
    height: 90vh;
    border-right: solid 1px #ad1426;
    border-bottom: solid 1px #ad1426;
}
.cover{
    width: 100%;
    height: 35vh;
    border-bottom: solid 1px #ad1426;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("https://cdn.ome.lt/mKQjgWxW9F_tTIv4xGZlUp-5C_o=/1200x630/smart/extras/conteudos/DZ8whKrXUAEds_L.jpg");
}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 40%;
    margin-top: 22vh;
    margin-left: 20%;
}

.divisor{
    content: "";
    width: 2px;
    height: 8vh;
    background-color: #ad1426;
}

.user-data{
    height: 8vh;
    font-family: 'Barlow', sans-serif;
    padding-left: 5%;
    flex-direction: column;
    align-content: space-between;
}

.nick{
    font-family: 'Barlow', sans-serif;
}