@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.container{
    position: relative;
    width: 40%;
    height: 90vh;
    border-right: solid 1px #ad1426;
    border-bottom: solid 1px #ad1426;
    background-color: #07111b;
}
.cover{
    width: 100%;
    height: 35vh;
    border-bottom: solid 1px #ad1426;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("https://cdn.ome.lt/mKQjgWxW9F_tTIv4xGZlUp-5C_o=/1200x630/smart/extras/conteudos/DZ8whKrXUAEds_L.jpg");
}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 40%;
    margin-top: 21vh;
    margin-left: 20%;
}

.divisor{
    content: "";
    width: 2px;
    height: 8vh;
    background-color: #ad1426;
}

.user-data{
    height: 8vh;
    font-family: 'Barlow', sans-serif;
    padding-left: 5%;
    flex-direction: column;
    align-content: space-between;
}

.nick{
    font-family: 'Barlow', sans-serif;
}

.bio{
    position: relative;
    overflow: hidden;
    margin-top: 0%;
    height: 55vh;
}

.bio-text{
    margin-left: 12%;
    margin-top: 5vh;
    margin-right:8% ;
    display: inline-block;
}

.toon{
    width: auto;
    height: 20vh;
    position: absolute;
}


.localInfo{
    border-top: solid 1px #ad1426;
    position: absolute;
    margin-top: 25vh;
    height:23vh;
    width: 85%

}

.location{
    border-right: solid 1px #ad1426;
    position: absolute;
    margin-top: 0;
    height:23vh;
    width: 58%;
}

.Info{
    position: absolute;
    height: 30vh;
    width: 60%;
    margin-left: 58%;
}

.location-data{
    margin-left: 10%;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 16vh;
    text-align: center;
}

.sky-bar{
    border-top: 1px solid #ad1426;
    border-left: 1px solid #ad1426;
    background-image: linear-gradient(#000912, #0009122d);
    margin-left: 25%;
    width: 95%;
    height: 3.5vh;
    transform: perspective(2px) rotateX(2deg);
}
.sky-status{
    justify-content: center;
    width: 95%;
    height: 3.5vh;
    transform: translate(0,-3vh);
    display: flex;
    align-items: center;
    margin-left: 20%;
}